@{
    ViewBag.Title = "Anurag Gandhi";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        Anurag Gandhi is into software design and development since last many years. He has quite good expertise 
        in application software development, mostly, web application development.
    </p>

    <p>
        More detail can be viewed at: <a href="http://gandhisoft.com">http://gandhisoft.com</a>
    </p>

    <p>
        
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
        mi augue, posuere at tempus vel, dignissim vitae nulla.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>