@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">You may contact me at:</span>
        <span><a href="mailto:soft.gandhi@gmail.com">soft.gandhi@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        Some Dummy Address<br />
        Bangalore, India
    </p>
</section>